@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-800 break-words antialiased font-Roboto;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  word-wrap: break-word;
}

h2 {
  @apply font-bold text-2xl tracking-tight;
}

p,
h1 {
  @apply text-gray-300;
}

a {
  @apply text-neon-green;
}

.navMenu {
  @apply flex items-center gap-2 relative font-semibold text-neutral-800 before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-neutral-800 before:transition hover:before:scale-x-100 duration-200 ease-in-out cursor-pointer;
}
